@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body, .side-by-side .left .wrapper form .forget span {
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /*for hcrome*/
}

body {
  cursor: default; /* Optional: Sets the default cursor */
  background-color: #efefef;
  padding: 15px;
}

.logo{
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.logo img{
  width: auto;
    height: auto;
    max-width: 200px;
    max-height: 80px;
    mix-blend-mode: multiply;
}

.logo p{
  font-size: 20px;
  color: #19384a;
  font-weight: 600;
}




.side-by-side{
  display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 120px);
    padding: 20px;
}

.side-by-side .left .wrapper {
  width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
}

.side-by-side .left .wrapper form {
  display: flex;
  flex-direction: column;
}

.side-by-side .left .wrapper form .head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-by-side .left .wrapper form .head p{
  font-size: 1rem;
  font-weight: 600;
  color: #a5a5a8;
}

.side-by-side .left .wrapper form .head h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

.side-by-side .left .wrapper form .input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.side-by-side .left .wrapper form .input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #000;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.side-by-side .left .wrapper form .input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000;
}

.side-by-side .left .wrapper form .input-field input:focus~label,
.side-by-side .left .wrapper form .input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.side-by-side .left .wrapper form .forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  margin: 25px 0 35px 0;
  color: #000;
}

.side-by-side .left .wrapper form .forget a:nth-child(2){
  color: #6793d2;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: underline;
}

.side-by-side .left .wrapper form #remember {
  accent-color: #000;
  display: flex;
  align-items: center;
}

.side-by-side .left .wrapper form .forget label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
  cursor: pointer;
}

.side-by-side .left .wrapper form .forget label p {
  margin: 0 8px;
}

.side-by-side .left .wrapper form .forget span {
  font-size: 1.1rem; /* ensure the eye icon size matches the text */
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}
.wrapper a:hover {
  text-decoration: underline;
}
.side-by-side .left .wrapper form button {
  background: #ffc62a;
  color: #000;
  font-weight: 600;
  border: none;
  width: 100%;
  padding: 12px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
.side-by-side .left .wrapper form button:hover {
  background-color: #19384a;
  color: #fff;
}
.last{
  margin-top: 20px;
  font-size: 0.9rem;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
}

.last a{
  color: #6793d2;
  text-decoration: underline;
  font-weight: 600;
  
}


.error-message {
  background-color: #ffdddd;
  border: 1px solid #ff5c5c;
  padding: 10px;
  margin: 10px auto;
  max-width: 400px;
  color: #a94442;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
}
